@font-face {
  font-family: "Neue Montreal";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/NeueMontreal-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/NeueMontreal-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/NeueMontreal-Light.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 300;
  font-style: italic;
  src: url("./assets/fonts/NeueMontreal-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/NeueMontreal-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 500;
  font-style: italic;
  src: url("./assets/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/NeueMontreal-Regular.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%; 
  font-family: 'Neue Montreal';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('./assets/cursor.svg'), auto;
  background-color: hsl(0, 0%, 90%);
}

#root {
  display: flex;
  
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (max-width: 1024px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

p {
  font-size: 1.1rem;
  line-height: 150%;
}

h2 {
  margin-top: 1rem;
}

a {
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: inherit;
}

::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 10px;
  border: 5px solid #dcdcdc;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: #dcdcdc;
}

::-webkit-scrollbar-corner {
  background-color: #dcdcdc;
}

.role-div {
  hyphens: auto;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-image img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}